@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* app-name */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Wicked Grit';
    /* text-transform: capitalize; */
}

body {
    font-family: 'Alegreya';
  }

table thead :empty{
    display: none;
  }
  .search a:hover, 
  .search .search-keyword, 
  .app-nav a:hover, 
  .app-nav a:active,
  .sidebar ul li.active > a, 
  .markdown-section a, 
  .token.attr-value, 
  .token.control, 
  .token.directive, 
  .token.string, 
  .token.unit, 
  section.cover .cover-main > p:last-child a,
  section.cover blockquote > p > a:hover
  { color: #000000 }  

.github-corner svg {
    fill: #000000;
}

section.cover .cover-main>p:last-child a {
  border: 1px solid #000000;
}

section.cover .cover-main>p:last-child a:last-child {
  background-color: #000000;
}
